# C# and .NET
*.suo
*.user
*.userosscache
*.sln.docstates
*.dll
*.pdb
*.cache
*.bak
*.swp
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*_i.h
*.ilk
*.log
*.sbr
*.scc
*.swp
*.vs
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
